.header-data-cell {
  display: grid;
  grid-template-columns: 1fr auto;
  border-right: 1px solid #7ef5cd;
  padding: 5px 5px 0;
  box-sizing: border-box;
  &:first-child {
    border-left: 1px solid #7ef5cd;
  }
  &.sticky {
    background-color: #ffffff;
  }
  .title-container {
    display: flex;
    .cell-title {
      user-select: none;
    }
  }  
}
