.header-data-cell {
  display: grid;
  grid-template-columns: 1fr auto;
  border-right: 1px solid #7ef5cd;
  &:first-child {
    border-left: 1px solid #7ef5cd;
  }
  .title-container {
    display: flex;
    .cell-title {
      //
    }
  }  
}
