.sort-icons-block {
  display: flex;
  flex-direction: column;
  margin: 0 0.25rem;
  .sort-icon {
    width: 18px;
    height: 18px;
    border: none;
    background-size: contain;
    background-repeat: no-repeat;
    opacity: 0.3;
    cursor: pointer;
    background-image: url('../../assets/sort-up.svg');
    &:hover {
      opacity: 0.5;
    }
    &.icon-up {
      opacity: 1;
    }
    &.icon-down {
      opacity: 1;
      transform: rotate(180deg);
    }
  }
}
