body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.sticky {
  position: sticky !important;
  position: -webkit-sticky !important;
  z-index: 2;
}

.row-item {
  &:hover {
    .sticky {
      background-color: #eeeeee;
    }
  }
  &.selected-item {
    .sticky {
      background-color: #f4f4f4;
    }
  }
  // .sticky {
  //   background-color: #cad4e2;
  // }
}